<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Form</title>
  </head>
  <body>
    <h1>Add Your Message :)</h1>
    <form method="post" action="/new">
      <input name="author" type="text" placeholder="Enter your name" />
      <input name="message" type="text" placeholder="Enter your message" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
